<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <label>id:
            <input type="text" class="" v-model="id">
        </label>

        <label>name:
            <input type="text" class="" v-model="name" @keyup.113="add">
        </label>

        <input type="button" value="添加" @click="add">

        <label>搜索:
            <input type="text" class="" v-model="keywords" v-focus v-color>
        </label>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>Ctime</th>
                    <th>operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td v-text="item.name"></td>
                    <td>{{ item.ctime | dateFormat}}</td>
                    <td>
                        <a href="" @chick.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="app2" v-fontweight="900" v-fontSize = "50">
        {{ dt | dateFormat}}
    </div>

    <script>
        Vue.filter('dateFormat',function(datestr){
            var dt = new Date(datestr)
            var y = dt.getFullYear()
            var m = dt.getMonth()+1
            var d = dt.getDate()

            // return y + '-' + 'm' + 'd'
            return  `${y}-${m}-${d}`
        })

        Vue.config.keyCodes.f2 = 113

        //自定义焦点
        Vue.directive('focus',{
            bind:function(){
                // el.focus()
            },
            inserted:function(el){
                el.focus()
            },
            updated:function(){

            }
        })

        Vue.directive('color',{
            bind:function(el){
                el.style.color = 'red';
            }
        })

        var vm = new Vue({
            el:'#app',
            data:{
                id:'',
                name:'',
                keywords:'',
                list:[
                    { id:1, name:'奔驰', ctime:new Date() },
                    { id:2, name:'宝马', ctime:new Date() }
                ]
            },
            methods:{
                add(){
                    // console.log('ok')
                    var car = {id:this.id, name:this.name,ctime:new Date()}
                    this.list.push(car)
                    this.id=''
                    this.name=''
                },
                del(id){
                    this.list.some((item,i)=>{
                        if(item.id == id){
                            this.list.splice(i,1)
                            return true;
                        }
                    })
                },
                // 数组新方法 forEach some filter findIndex
                search(keywords){
                    var newList = []
                    this.list.forEach(item => {
                        if(item.name.indexOf(keywords) != -1){
                            newList.push(item)
                        }
                    })
                    return newList
                }
            }
        });

        //定义私有过滤器
        var vm2 = new Vue({
            el:'#app2',
            data:{
                dt: new Date()
            },
            methods:{},
            filters:{    //定义私有过滤器,优先调用私有过滤器
                dateFormat:function(datestr){
                    var dt = new Date(datestr)
                    var y = dt.getFullYear()
                    var m = (dt.getMonth()+3).toString().padStart(2,'0')
                    var d = dt.getDate()

                    // return y + '-' + 'm' + 'd'
                    return  `${y}-${m}-${d}`
                }
            },
            directives:{
                'fontweight':{
                    bind:function(el,binding){
                        el.style.fontWeight = binding.value;
                    }
                },
                'fontsize':function(el,binding){
                    el.style.fontSize = parseInt(binding.value) + 'px';
                }
            }
        })
        // Vue.filter('过滤器的名称',function(data){
        //     return data + '123'
        // })

        
        
    </script>

<!-- 过滤器只能在mustache和v-bind中使用，常见的文本格式化 -->

</body>
</html>